img{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jookroo{
  width: 300px;
  color: aliceblue;
}
.logo{
  display: flex;
 
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;


}
.nav-item{
  justify-content: flex-end;
  list-style: none;
  display: flex;
  padding: 10px;
  
}
li{
  color:aqua
}
